* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf8ed;
}
#content {
  margin: auto;
}
#top-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
#top-login div {
  display: flex;
  align-items: center;
}
#logo {
  width: 60px;
  margin-right: 15px;
}
#area-login-cadastro {
  display: flex;
}

#login {
  width: 300px;
}
#cadastros {
  width: 300px;
}
.input-padrao {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #0000002c;
  font-size: 1.1rem;
}
.input-login:focus {
  outline: none;
}
#input-email-login {
  border-radius: 5px 5px 0px 0px;
}
#input-senha-login {
  border-top: none;
  border-radius: 0px 0px 5px 5px;
}
#area-checkbox {
  margin: 15px 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #137dc5;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px #0f67a3;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  font-size: 1.4rem;
}
.btn:active {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px 0px 0px #137dc5, inset 0px 3px 3px #0f67a3;
}
.btn-form {
  width: 300px;
  height: 45px;
}
.btn-voltar {
  width: 55px;
  height: 45px;
}
.linha-vertical {
  width: 1px;
  border: 1px solid #0000002c;
  margin: 0px 20px;
}
#grupo-input-menor {
  display: flex;
  flex-wrap: wrap;
}
.input-pequeno {
  width: 150px;
  margin: 0;
}
#nome-cadastro {
  border-radius: 5px 0px 0px 0px;
}
#sobrenome-cadastro {
  border-radius: 0px 5px 0px 0px;
}
#matricula-cadastro {
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 20px;
}
.borda-top {
  border-top: none;
}
#genero-cadastro {
  border-right: none;
}
#nome-cadastro {
  border-right: none;
}
option {
  height: 40px;
}
